<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <integer>0x68EC82DE</integer>
        <integer>0x68EC85C4</integer>
        <integer>0x68ECB2F5</integer>
        <integer>0x904CEF42</integer>
        <integer>0x95D2E231</integer>
        <integer>0xBC8648D5</integer>
        <integer>0xC06306CF</integer>
        <integer>0xC18862B8</integer>
        <integer>0xC6C7692B</integer>
        <integer>0xD2BA3B44</integer>
        <integer>0x1715CC22</integer>
        <integer>0x253B180F</integer>
        <integer>0x2A738931</integer>
        <integer>0x05092709</integer>
        <integer>0x36DF4CA5</integer>
        <integer>0x482E98FA</integer>
        <integer>0x4C707B0D</integer>
        <integer>0x535418B4</integer>
        <integer>0x5402225E</integer>
        <integer>0x5762B9F4</integer>
        <integer>0x5E17217A</integer>
        <integer>0x5E1737D3</integer>
        <integer>0x5F85745C</integer>
        <integer>0x5F85782F</integer>
</array>
</plist>
